
/* dark color palette */
#root {
    --background: #1a1e1f;
    --decoration: #353a3d;
    --text-primary: #fff;
    --text-secondary: #fff;
    --accent: #404d53;
}

/* font */
body {
  font-family: 'IBM Plex Serif';
}

/* main container */
.main-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    min-width: 100%;
    min-height: 100vh;
    padding: 0;
}

/* transition */
* {
    transition: all 0.15s ease-in-out;
}

/* text */
h1, h2, h3, h4, h5, h6, p {
    color: var(--text-primary) !important;
    margin: 0;
    padding: 0;
}
.form-label {
    color: var(--text-primary) !important;
}
.fs-5 {
    color: var(--text-primary) !important;
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100% !important;
}

/* logo */
.logo-container {
  display: flex;
  justify-content: center;
  max-height: 15vh;
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.logo {
  max-height: 15vh;
  fill: var(--text-primary);
}

/* search bar */
.search-bar-container {
  display: flex;
  justify-content: center;
  height: 5vh;
  margin-bottom: 5vh;
}

/* bs forms */
.full-width-form {
  width: 100vw;
  height: 5vh;
  margin-bottom: 2vh;
}
.search-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.search-container {
  width: 100%;
  height: 100%;
}
.search-container:focus-within .search-icon {
  opacity: 0;
}
.search-icon {
  position: absolute;
  color: var(--text-primary);
  pointer-events: none;
  font-size: 150%;
  margin-left: 0.5%;
  transition: opacity 0.2s ease;
}
.form-control {
  background-color: var(--accent);
  color: var(--text-primary);
  border-color: var(--accent);
}
.form-control:hover {
  background-color: var(--accent);
  color: var(--text-primary);
  border-color: var(--accent);
  box-shadow: 0 0 1vh 0.5vh rgba(255, 255, 255, 0.7);
}
.form-control:focus {
  background-color: var(--accent);
  color: var(--text-primary);
  border-color: var(--accent);
  box-shadow: 0 0 1vh 0.5vh rgba(255, 255, 255, 0.7);
}

/* content */
.content {
  flex: 1;
  min-width: 50% !important; 
  max-width: 100vw !important;
  padding: 0;
}

/* footer */
.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--accent);
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 20vh;
  padding: 1vh;
  background-color: var(--accent);
}
.logo-text-container-footer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 0;
}
.logo-container-footer {
  display: flex;
  justify-content: center;
  min-height: 15vh;
  width: 15vh;
  margin: 0;
  padding: 0;
}
.logo-footer {
  min-height: 15vh;
  fill: var(--text-primary);
  margin: 0;
}
.text-container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 15vh;
  margin: 0;
}
.text-footer-row {
  padding: 0;
  margin: 0;
}
.link-container-footer {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  margin: 0;
  padding: 0;
  margin-right: 5vh;
}
.link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border-color: var(--background);
  border-radius: 10px;
  width: 5vh;
  height: 5vh;
  padding: 0;
  margin: 0;
}
.logo-tg-link {
  max-height: 3vh;
  max-width: 3vh;
  fill: var(--text-primary);
  margin: 0;
}
.link-to-tg {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* post short */
.post-short-link-global {
  text-decoration: none;
  color: inherit;
  display: block;
}
.post-short-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5vh;
}
.post-short-image-container {
  max-width: 40%;
}
.post-short-text-container {
  display: flex;
  flex-direction: column;
}
.post-short-text-title-container {
  margin-bottom: 2vh;
}
.post-short-text-content-container {
  flex-grow: 2;
  text-align: justify;
}
.post-short-text-date-container {
  margin-top: 2vh;
  padding-bottom: 2vh;
}
.post-short-text-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 10;
}

/* page selector */
.page-selector-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  margin: 0;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 0;
}
.page-selector-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.page-selector-button,
.page-selector-button:hover,
.page-selector-button:focus {
  background-color: var(--accent) !important;
  border-color: var(--accent) !important;
  margin-left: 3vw;
  margin-right: 3vw;
}

.view-post-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  margin-top: 5vh;
  padding: 0;
}
.view-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  padding: 0;
}
.view-post-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50vw;
  padding: 0;
}
.view-post-image-container {
  padding: 0;
}
.view-post-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100vw;
  margin-top: 5vh;
  padding: 0;
}
.view-post-content-content-container {
  min-width: 50vw;
  text-align: justify;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 10vh;
}
.view-post-title-container {
  padding: 0;
  margin-bottom: 2vh;
}
.view-post-date-container {
  padding: 0;
  margin-bottom: 2vh;
}
.view-post-content-side-container {
  text-align: justify;
  background-color: var(--decoration);
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
}
.side-left {
  border-top-right-radius: 2vh;
}
.side-right {
  border-top-left-radius: 2vh;
}
.clamp-side {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
